# Highly Scalable Efficient Recommendation System

## Dowload dataset from open data source
There are many data sets in two selected data sources, but we only need some of them to build our recommendation system. So we select a few of them in consideration of the demand for data in our system.

#### IMDb database
* title.basics.tsv
* title.crew.tsv
* title.ratings.tsv

#### MovieLens Data Sets
* tags.csv
* ratings.csv
* genome-scores.csv
* genome-tags.csv

In [8]:
import pandas as pd
import numpy as np

basics = pd.read_csv("Original_Data_Sets/IMDb/title.basics.tsv", sep='\t', header=0)
crew = pd.read_csv("Original_Data_Sets/IMDb/title.crew.tsv", sep='\t', header=0)
ratings = pd.read_csv("Original_Data_Sets/IMDb/title.ratings.tsv", sep='\t', header=0)

basics.head(5)

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short

In [9]:
links = pd.read_csv("Original_Data_Sets/MovieLens/links.csv", sep=",", header=0)
tags = pd.read_csv("Original_Data_Sets/MovieLens/tags.csv", sep=",", header=0)
user_ratings = pd.read_csv("Original_Data_Sets/MovieLens/ratings.csv", sep=",", header=0)
genome_scores = pd.read_csv("Original_Data_Sets/MovieLens/genome-scores.csv", sep=",", header=0)
genome_tag = pd.read_csv("Original_Data_Sets/MovieLens/genome-tags.csv", sep=",", header=0)

links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
movieId    27278 non-null int64
imdbId     27278 non-null int64
tmdbId     27026 non-null float64
dtypes: float64(1), int64(2)
memory usage: 639.4 KB

In [4]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4941637 entries, 0 to 4941636
Data columns (total 9 columns):
tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           int64
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtypes: int64(1), object(8)
memory usage: 339.3+ MB

There are 27278 movies in MovieLens datset and 4941637 records in IMDb dataset.

## Data Integration
In IMDb database, the information of one movie is divided into three part, such as basic information of movie, information of crew and audience evaluation. So we combine three data sets into one data set according to the titleId of movies.  

* Form a large data set of 11420 movies with 12 attributes

In [101]:
extra_info = pd.merge(left=crew, right=ratings, how='outer', on='tconst')
movie = pd.merge(left=basics, right=extra_info, how='outer', on='tconst')
movie.to_csv("Data_Set/movie.csv")
movie.head(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,5.8,1364.0
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",nm0721526,\N,6.5,160.0
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",nm0721526,\N,6.6,948.0
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short",nm0721526,\N,6.4,96.0
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short,nm0005690,\N,6.2,1643.0

IMDb and MovieLens use different identity number to represent movies, we can two datasets using links.csv.

* Transform the attribute "tconst" in IMDb to the form of "imdbId" in MovieLens

In [102]:
movie['tconst'] = movie.apply(lambda x: int(x['tconst'].replace("tt", "")), axis=1)
movie.rename(columns=lambda x:x.replace('tconst', 'imdbId'), inplace=True)
movie.head(5)

,imdbId,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,1,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,5.8,1364.0
1,2,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",nm0721526,\N,6.5,160.0
2,3,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",nm0721526,\N,6.6,948.0
3,4,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short",nm0721526,\N,6.4,96.0
4,5,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short,nm0005690,\N,6.2,1643.0

## Data Reduction
### Feature Selection

In [104]:
movie = movie.replace('\\N', np.nan)
pd.isnull(movie).sum()

imdbId                  0
titleType               0
primaryTitle            4
originalTitle         180
isAdult                 0
startYear          276921
endYear           4902775
runtimeMinutes    3404085
genres             390533
directors         2120881
writers           2505777
averageRating     4117413
numVotes          4117413
dtype: int64

So we drop attributes as below:

* primaryTitle
* originalTitle
* endYear

In [105]:
movie = movie.drop(columns=['primaryTitle', 'originalTitle', 'endYear'])
movie.head(5)

,imdbId,titleType,isAdult,startYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,1,short,0,1894,1,"Documentary,Short",nm0005690,NaN,5.8,1364.0
1,2,short,0,1892,5,"Animation,Short",nm0721526,NaN,6.5,160.0
2,3,short,0,1892,4,"Animation,Comedy,Romance",nm0721526,NaN,6.6,948.0
3,4,short,0,1892,NaN,"Animation,Short",nm0721526,NaN,6.4,96.0
4,5,short,0,1893,1,Short,nm0005690,NaN,6.2,1643.0

### Instance Selection

Here, we drop all videos and video games which are unrelated.

In [114]:
movie = movie.drop(np.where((movie.titleType == 'video') | (movie.titleType == 'videoGame'))[0])
movie.to_csv("Data_Set/movie_l1.csv", index=False)
movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4722816 entries, 0 to 4941636
Data columns (total 10 columns):
imdbId            int64
titleType         object
isAdult           int64
startYear         float64
runtimeMinutes    object
genres            object
directors         object
writers           object
averageRating     float64
numVotes          float64
dtypes: float64(3), int64(2), object(5)
memory usage: 396.4+ MB

## Data Cleaning
Here, we handle missing data in IMDb dataset.

In [108]:
movie = pd.read_csv("Data_Set/movie_l1.csv", sep=",", header=0)

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [115]:
movie.groupby('titleType').mean()

                    imdbId   isAdult    startYear  averageRating     numVotes
titleType
movie         2.207283e+06  0.017511  1986.252302       6.257489  3137.623713
short         3.175621e+06  0.001691  1989.339339       6.875474    61.364852
tvEpisode     3.768220e+06  0.022563  2003.045081       7.449162   124.768424
tvMiniSeries  3.917497e+06  0.003608  2004.946546       7.267308   567.484533
tvMovie       2.400234e+06  0.000562  1995.310781       6.712848   176.661691
tvSeries      2.973238e+06  0.003968  2002.112311       6.836243  1078.392503
tvShort       2.532572e+06  0.000240  1993.065176       6.924822   179.432171
tvSpecial     2.056499e+06  0.000560  2001.810498       6.724496   155.683419

We use the mean value in same "titleType" to impute the missing values in "runtimeMinutes".

In [116]:
movie.loc[4805574, 'isAdult'] = 0
movie.loc[4805574, 'startYear'] = 2015
movie.loc[4805574, 'runtimeMinutes'] = np.nan
movie.loc[4805574, 'genres'] = 'Animation,Sci-Fi,Short'
movie.loc[4730468, 'isAdult'] = 0
movie.loc[4730468, 'startYear'] = 2018
movie.loc[4730468, 'runtimeMinutes'] = np.nan
movie.loc[4730468, 'genres'] = 'Animation,Family'
movie.loc[4525055, 'isAdult'] = 0
movie.loc[4525055, 'startYear'] = 2016
movie.loc[4525055, 'runtimeMinutes'] = np.nan
movie.loc[4525055, 'genres'] = 'Action,Adventure,Animation'
movie.loc[2301207, 'isAdult'] = 0
movie.loc[2301207, 'startYear'] = 2011
movie.loc[2301207, 'runtimeMinutes'] = np.nan
movie.loc[2301207, 'genres'] = 'Comedy'
movie.loc[811687, 'isAdult'] = 0
movie.loc[811687, 'startYear'] = 1993
movie.loc[811687, 'runtimeMinutes'] = np.nan
movie.loc[811687, 'genres'] = 'Action,Animation,Comedy'

movie['runtimeMinutes'] = movie['runtimeMinutes'].astype('float')
means = movie.groupby('titleType').mean()

movie['runtimeMinutes'] = movie.apply(
    lambda x: means.loc[x['titleType'], 'runtimeMinutes'] if np.isnan(x['runtimeMinutes']) else x['runtimeMinutes'],
    axis=1)

We use the mean value to impute the missing values in "averageRating".

In [117]:
movie['averageRating'] = movie['averageRating'].fillna(movie['averageRating'].mean())

We use the mean value in same "titleType" to impute the missing values in "numVotes".

In [118]:
movie['numVotes'] = movie.apply(
    lambda x: means.loc[x['titleType'], 'numVotes'] if np.isnan(x['numVotes']) else x['numVotes'],
    axis=1)

For other categorical data, we don't need to handle the missing data.

In [119]:
movie.head(10)

,imdbId,titleType,isAdult,startYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,1,short,0,1894.0,1.000000,"Documentary,Short",nm0005690,NaN,5.8,1364.0
1,2,short,0,1892.0,5.000000,"Animation,Short",nm0721526,NaN,6.5,160.0
2,3,short,0,1892.0,4.000000,"Animation,Comedy,Romance",nm0721526,NaN,6.6,948.0
3,4,short,0,1892.0,13.213336,"Animation,Short",nm0721526,NaN,6.4,96.0
4,5,short,0,1893.0,1.000000,Short,nm0005690,NaN,6.2,1643.0
5,6,short,0,1894.0,1.000000,Short,nm0005690,NaN,5.6,83.0
6,7,short,0,1894.0,1.000000,"Short,Sport","nm0374658,nm0005690",NaN,5.5,553.0
7,8,short,0,1894.0,1.000000,"Documentary,Short",nm0005690,NaN,5.6,1465.0
8,9,movie,0,1894.0,45.000000,Romance,nm0085156,nm0085156,5.5,65.0
9,10,short,0,1895.0,1.000000,"Documentary,Short",nm0525910,NaN,6.9,4910.0

## Data Transformation

For titleType, we use numbers 0-4 to update values.
* 0 if the titleType is movie or tvMovie
* 1 if the titleType is short or tvShort
* 2 if the titleType is tvEpisode or tvSeries
* 3 if the titleType is tvMiniSeries or tvSpecial

In [120]:
movie['titleType'] = np.where((movie.titleType == 'movie') | (movie.titleType == 'tvMovie'), 0, movie.titleType)
movie['titleType'] = np.where((movie.titleType == 'short') | (movie.titleType == 'tvShort'), 1, movie.titleType)
movie['titleType'] = np.where((movie.titleType == 'tvEpisode') | (movie.titleType == 'tvSeries'), 2, movie.titleType)
movie['titleType'] = np.where((movie.titleType == 'tvMiniSeries') | (movie.titleType == 'tvSpecial'), 3, movie.titleType)
movie.head(5)

,imdbId,titleType,isAdult,startYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,1,1,0,1894.0,1.000000,"Documentary,Short",nm0005690,NaN,5.8,1364.0
1,2,1,0,1892.0,5.000000,"Animation,Short",nm0721526,NaN,6.5,160.0
2,3,1,0,1892.0,4.000000,"Animation,Comedy,Romance",nm0721526,NaN,6.6,948.0
3,4,1,0,1892.0,13.213336,"Animation,Short",nm0721526,NaN,6.4,96.0
4,5,1,0,1893.0,1.000000,Short,nm0005690,NaN,6.2,1643.0

For startYear, we divde them to 7 ages.
* 0 if the startYear is earlier than 1930
* 1 if the startYear is later than 1930 but earlier than 1950
* 2 if the startYear is later than 1950 but earlier than 1970
* 3 if the startYear is later than 1970 but earlier than 1990
* 4 if the startYear is later than 1990 but earlier than 2000
* 5 if the startYear is later than 2000 but earlier than 2010
* 6 if the startYear is later than 2010

In [123]:
movie['startYear'] = np.where(movie.startYear <= 1930, 0, movie.startYear)
movie['startYear'] = np.where((movie.startYear > 1930) & (movie.startYear <= 1950), 1, movie.startYear)
movie['startYear'] = np.where((movie.startYear > 1950) & (movie.startYear <= 1970), 2, movie.startYear)
movie['startYear'] = np.where((movie.startYear > 1970) & (movie.startYear <= 1990), 3, movie.startYear)
movie['startYear'] = np.where((movie.startYear > 1990) & (movie.startYear <= 2000), 4, movie.startYear)
movie['startYear'] = np.where((movie.startYear > 2000) & (movie.startYear <= 2010), 5, movie.startYear)
movie['startYear'] = np.where(movie.startYear > 2010, 6, movie.startYear)
movie.head(5)

,imdbId,titleType,isAdult,startYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,1,1,0,0.0,1.000000,"Documentary,Short",nm0005690,NaN,5.8,1364.0
1,2,1,0,0.0,5.000000,"Animation,Short",nm0721526,NaN,6.5,160.0
2,3,1,0,0.0,4.000000,"Animation,Comedy,Romance",nm0721526,NaN,6.6,948.0
3,4,1,0,0.0,13.213336,"Animation,Short",nm0721526,NaN,6.4,96.0
4,5,1,0,0.0,1.000000,Short,nm0005690,NaN,6.2,1643.0

For runtimeMinutes, we divide them to 5 types.
* 0 if the runtimeMinutes is less than 10
* 1 if the runtimeMinutes is larger than 10 but less than 30
* 2 if the runtimeMinutes is larger than 30 but less than 60
* 3 if the runtimeMinutes is larger than 60 but less than 120
* 4 if the runtimeMinutes is larger than 120

In [125]:
movie['runtimeMinutes'] = np.where(movie.runtimeMinutes <= 10, 0, movie.runtimeMinutes)
movie['runtimeMinutes'] = np.where((movie.runtimeMinutes > 10) & (movie.runtimeMinutes <= 30), 1, movie.runtimeMinutes)
movie['runtimeMinutes'] = np.where((movie.runtimeMinutes > 30) & (movie.runtimeMinutes <= 60), 2, movie.runtimeMinutes)
movie['runtimeMinutes'] = np.where((movie.runtimeMinutes > 60) & (movie.runtimeMinutes <= 120), 3, movie.runtimeMinutes)
movie['runtimeMinutes'] = np.where(movie.runtimeMinutes > 120, 4, movie.runtimeMinutes)
movie.head(5)

,imdbId,titleType,isAdult,startYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,1,1,0,0.0,0.0,"Documentary,Short",nm0005690,NaN,5.8,1364.0
1,2,1,0,0.0,0.0,"Animation,Short",nm0721526,NaN,6.5,160.0
2,3,1,0,0.0,0.0,"Animation,Comedy,Romance",nm0721526,NaN,6.6,948.0
3,4,1,0,0.0,1.0,"Animation,Short",nm0721526,NaN,6.4,96.0
4,5,1,0,0.0,0.0,Short,nm0005690,NaN,6.2,1643.0

For averageRating, we divide them to 5 types.
* 0 if the averageRating is less than 5.0
* 1 if the averageRating is larger than 5.0 but less than 6.0
* 2 if the averageRating is larger than 6.0 but less than 7.0
* 3 if the averageRating is larger than 7.0 but less than 8.0
* 4 if the averageRating is larger than 8.0

In [127]:
movie['averageRating'] = np.where(movie.averageRating <= 5.0, 0, movie.averageRating)
movie['averageRating'] = np.where((movie.averageRating > 5.0) & (movie.averageRating <= 6.0), 1, movie.averageRating)
movie['averageRating'] = np.where((movie.averageRating > 6.0) & (movie.averageRating <= 7.0), 2, movie.averageRating)
movie['averageRating'] = np.where((movie.averageRating > 7.0) & (movie.averageRating <= 8.0), 3, movie.averageRating)
movie['averageRating'] = np.where(movie.averageRating > 8.0, 4, movie.averageRating)
movie.head(5)

,imdbId,titleType,isAdult,startYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,1,1,0,0.0,0.0,"Documentary,Short",nm0005690,NaN,1.0,1364.0
1,2,1,0,0.0,0.0,"Animation,Short",nm0721526,NaN,2.0,160.0
2,3,1,0,0.0,0.0,"Animation,Comedy,Romance",nm0721526,NaN,2.0,948.0
3,4,1,0,0.0,1.0,"Animation,Short",nm0721526,NaN,2.0,96.0
4,5,1,0,0.0,0.0,Short,nm0005690,NaN,2.0,1643.0

For numVotes, we divide them to 5 types.
* 0 if the numVotes is less than 100
* 1 if the numVotes is larger than 100 but less than 1000
* 2 if the numVotes is larger than 1000 but less than 10000
* 3 if the numVotes is larger than 10000 but less than 100000
* 4 if the numVotes is larger than 100000

In [137]:
movie['numVotes'] = np.where(movie.numVotes <= 100.0, 0, movie.numVotes)
movie['numVotes'] = np.where((movie.numVotes > 100.0) & (movie.numVotes <= 1000.0), 1, movie.numVotes)
movie['numVotes'] = np.where((movie.numVotes > 1000.0) & (movie.numVotes <= 10000.0), 2, movie.numVotes)
movie['numVotes'] = np.where((movie.numVotes > 10000.0) & (movie.numVotes <= 100000.0), 3, movie.numVotes)
movie['numVotes'] = np.where(movie.numVotes > 100000.0, 4, movie.numVotes)
movie.head(5)

,imdbId,titleType,isAdult,startYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,1,1,0,0.0,0.0,"Documentary,Short",nm0005690,NaN,1.0,2.0
1,2,1,0,0.0,0.0,"Animation,Short",nm0721526,NaN,2.0,1.0
2,3,1,0,0.0,0.0,"Animation,Comedy,Romance",nm0721526,NaN,2.0,1.0
3,4,1,0,0.0,1.0,"Animation,Short",nm0721526,NaN,2.0,0.0
4,5,1,0,0.0,0.0,Short,nm0005690,NaN,2.0,2.0

In [138]:
movie.to_csv("Data_Set/movie_l2.csv", index=False)

## Build Movie-Tag Matrix

Movie-Tag Matrix is defined as the representation of movies using their relevance score with tags, where each row represents one movie, each column represents one tag. Thus, the value Mij is the relevance score between movie i and tag j. Further more, if there is no tag j on movie i, the value Mij was 0, which means the vector of a new movie is a zero vector.

In [13]:
movie_tag = pd.read_csv("Original_Data_Sets/MovieLens/genome-scores.csv", sep=",", header=0)
tags = pd.read_csv("Original_Data_Sets/MovieLens/genome-tags.csv", sep=",", header=0)
movie_num = links['movieId'].count()
tag_num = tags['tagId'].count()
movie_tag_matrix = np.zeros((movie_num, tag_num))
movie_tag_matrix.shape()

In [40]:
for a in range(movie_num):
    tag_relevance = movie_tag[movie_tag['movieId'] == links.loc[a, 'movieId']]
    if tag_relevance['tagId'].count() > 0:
        movie_tag_matrix[a][:] = list(tag_relevance['relevance'])
np.savetxt('movie_tag_matrix.csv', movie_tag_matrix, delimiter = ',')

51
109
115
124
127
130
133
134
139
142
143
226
284
336
395
396
399
400
401
403
404
530
560
567
572
576
579
584
591
604
607
620
623
625
629
636
642
643
644
654
655
657
672
675
676
683
684
693
699
721
723
727
730
738
739
744
749
752
758
767
768
769
770
772
773
774
777
795
796
812
814
815
822
825
826
855
857
859
873
878
887
890
894
975
977
979
983
1001
1052
1065
1106
1109
1110
1115
1118
1122
1133
1139
1140
1141
1142
1145
1146
1155
1156
1157
1158
1159
1160
1163
1165
1166
1308
1309
1316
1319
1368
1386
1400
1421
1424
1428
1434
1443
1448
1462
1467
1490
1510
1522
1524
1528
1548
1553
1557
1558
1559
1561
1568
1577
1578
1579
1628
1630
1669
1692
1697
1705
1706
1708
1709
1710
1714
1716
1720
1724
1738
1740
1742
1764
1765
1768
1774
1776
1781
1782
1787
1789
1796
1815
1819
1830
1842
1843
1849
1851
1852
1905
1915
2030
2127
2213
2216
2217
2218
2220
2222
2223
2224
2225
2229
2230
2233
2235
2251
2254
2258
2270
2274
2277
2299
2308
2309
2319
2326
2343
2438
2477
2480
2484
2489
2508
2538
2547
2556
2564
2573
2576
2584
2588
2591
2592
2595
2601
2603
2604
2619
2623
2631
2658
2680
2684
2698
2703
2711
2742
2811
2821
2823
2832
2838
2845
2884
2895
2909
2934
2954
2955
2957
2958
2980
3009
3023
3059
3065
3080
3084
3085
3116
3123
3128
3131
3136
3151
3154
3164
3170
3184
3187
3188
3191
3193
3195
3209
3212
3220
3226
3227
3228
3229
3231
3233
3234
3236
3237
3277
3278
3279
3280
3288
3290
3291
3293
3294
3297
3305
3312
3314
3315
3321
3332
3336
3337
3346
3348
3352
3353
3356
3369
3373
3376
3377
3380
3381
3382
3383
3407
3411
3413
3455
3458
3460
3485
3493
3517
3522
3530
3541
3542
3558
3560
3561
3570
3575
3579
3582
3583
3589
3601
3603
3607
3630
3631
3642
3647
3650
3651
3656
3657
3719
3748
3750
3762
3772
3778
3779
3800
3803
3818
3828
3829
3850
3856
3866
3887
3890
3891
3904
3907
3995
4004
4013
4050
4057
4058
4059
4070
4071
4075
4076
4088
4096
4101
4107
4112
4114
4120
4134
4145
4150
4163
4170
4171
4172
4202
4230
4257
4258
4260
4261
4269
4295
4309
4311
4315
4346
4348
4358
4362
4364
4365
4374
4377
4379
4382
4385
4413
4421
4431
4435
4449
4455
4456
4457
4460
4461
4507
4538
4539
4542
4549
4551
4554
4556
4596
4604
4647
4648
4656
4668
4693
4724
4726
4739
4742
4747
4760
4762
4778
4818
4820
4825
4843
4849
4851
4856
4859
4882
4883
4891
4892
4904
4905
4906
4910
4913
4924
4931
4933
4935
4938
4940
4948
5018
5019
5020
5030
5031
5032
5043
5050
5052
5067
5070
5082
5084
5089
5091
5104
5115
5124
5129
5130
5132
5133
5138
5144
5148
5149
5150
5154
5156
5160
5166
5173
5175
5176
5178
5183
5188
5194
5195
5196
5200
5201
5204
5206
5207
5216
5229
5239
5242
5252
5253
5257
5259
5260
5261
5262
5270
5271
5273
5274
5277
5280
5281
5286
5317
5318
5320
5322
5326
5330
5336
5338
5342
5345
5370
5371
5374
5386
5393
5394
5402
5403
5405
5407
5408
5411
5430
5441
5458
5467
5487
5491
5492
5494
5510
5511
5514
5518
5519
5520
5533
5534
5535
5536
5537
5542
5545
5547
5549
5551
5554
5558
5562
5565
5566
5567
5571
5576
5579
5586
5590
5592
5595
5599
5616
5622
5623
5624
5626
5627
5629
5631
5634
5652
5654
5656
5658
5659
5661
5671
5674
5676
5681
5683
5695
5698
5702
5704
5706
5708
5709
5711
5713
5714
5715
5716
5719
5720
5724
5725
5727
5728
5744
5746
5748
5750
5751
5753
5756
5757
5758
5759
5766
5774
5775
5776
5778
5786
5789
5790
5793
5795
5798
5805
5806
5807
5811
5813
5814
5819
5822
5823
5827
5828
5831
5834
5835
5837
5844
5849
5850
5851
5856
5858
5860
5861
5865
5866
5870
5871
5877
5886
5887
5889
5892
5894
5895
5897
5904
5905
5906
5907
5908
5910
5912
5913
5917
5918
5920
5921
5922
5925
5929
5931
5934
5939
5946
5948
5950
5953
5964
5967
5972
5973
5976
5978
5979
5982
5996
5997
6000
6004
6007
6011
6015
6018
6019
6026
6028
6029
6034
6043
6046
6048
6052
6053
6055
6061
6068
6069
6071
6073
6074
6075
6079
6080
6081
6083
6085
6086
6088
6089
6090
6095
6096
6097
6098
6103
6106
6108
6110
6111
6112
6113
6117
6129
6130
6131
6133
6136
6137
6138
6142
6145
6146
6149
6150
6151
6161
6164
6165
6167
6171
6172
6174
6175
6179
6189
6191
6194
6199
6205
6207
6209
6224
6227
6246
6253
6256
6262
6272
6274
6275
6276
6277
6278
6282
6284
6292
6302
6307
6309
6310
6317
6328
6336
6340
6342
6343
6353
6354
6355
6369
6381
6384
6388
6391
6393
6397
6402
6408
6411
6415
6417
6420
6421
6431
6434
6435
6438
6439
6443
6445
6447
6449
6456
6463
6465
6471
6472
6474
6479
6487
6489
6490
6491
6492
6494
6495
6496
6499
6501
6504
6507
6511
6512
6514
6515
6520
6523
6529
6532
6540
6543
6546
6551
6553
6555
6556
6569
6570
6580
6585
6589
6590
6594
6600
6603
6604
6605
6606
6607
6608
6621
6622
6623
6626
6627
6632
6633
6634
6637
6640
6647
6654
6655
6656
6661
6673
6674
6675
6677
6681
6685
6688
6691
6693
6694
6697
6698
6704
6706
6712
6715
6716
6717
6719
6726
6728
6729
6733
6737
6738
6739
6742
6758
6759
6766
6767
6778
6799
6819
6822
6823
6824
6827
6830
6831
6833
6834
6835
6836
6838
6842
6843
6845
6846
6847
6853
6855
6861
6865
6866
6876
6877
6878
6891
6894
6897
6901
6903
6905
6906
6907
6908
6911
6912
6913
6914
6915
6916
6917
6919
6924
6925
6926
6929
6930
6931
6933
6937
6938
6940
6941
6943
6955
6956
6960
6962
6968
6972
7052
7053
7077
7097
7098
7100
7105
7106
7110
7112
7113
7120
7129
7138
7140
7144
7145
7146
7159
7166
7170
7176
7180
7182
7184
7186
7187
7188
7192
7196
7197
7200
7203
7204
7213
7214
7230
7231
7232
7233
7240
7242
7244
7245
7246
7248
7251
7264
7267
7268
7269
7270
7271
7273
7274
7276
7277
7278
7279
7282
7287
7288
7289
7290
7291
7295
7296
7298
7309
7312
7322
7329
7330
7331
7332
7336
7337
7339
7342
7343
7344
7350
7351
7356
7358
7363
7368
7370
7390
7392
7393
7397
7398
7399
7400
7401
7403
7404
7407
7408
7409
7411
7412
7413
7418
7422
7423
7441
7443
7446
7447
7452
7455
7461
7471
7475
7477
7479
7483
7488
7490
7491
7502
7521
7528
7537
7563
7565
7567
7568
7571
7582
7583
7621
7622
7623
7625
7627
7638
7639
7644
7645
7648
7657
7699
7703
7719
7723
7726
7738
7739
7750
7751
7752
7754
7758
7761
7764
7765
7768
7769
7772
7774
7775
7778
7783
7808
7813
7814
7816
7821
7823
7824
7825
7828
7837
7838
7839
7850
7872
7878
7880
7882
7885
7886
7887
7890
7893
7900
7901
7912
7913
7917
7921
7922
7928
7931
7935
7945
7946
7948
7950
7952
7953
7954
7958
7985
7989
7992
7994
7995
8003
8004
8009
8037
8038
8041
8055
8068
8069
8070
8095
8120
8122
8124
8136
8137
8138
8139
8140
8141
8148
8149
8168
8187
8198
8202
8203
8220
8224
8232
8236
8237
8240
8252
8255
8262
8267
8269
8292
8293
8294
8329
8335
8339
8359
8374
8381
8384
8388
8392
8393
8394
8397
8398
8399
8402
8403
8407
8411
8420
8421
8422
8423
8424
8427
8444
8448
8450
8452
8453
8454
8455
8457
8458
8461
8462
8465
8469
8478
8480
8483
8484
8486
8488
8500
8506
8518
8519
8524
8536
8540
8541
8544
8545
8572
8577
8580
8583
8586
8592
8594
8597
8599
8603
8606
8613
8615
8619
8621
8624
8625
8626
8627
8628
8630
8632
8635
8637
8646
8647
8648
8649
8652
8653
8654
8655
8658
8659
8660
8663
8664
8668
8669
8671
8672
8673
8674
8677
8678
8679
8680
8681
8682
8683
8685
8686
8687
8688
8691
8692
8693
8694
8696
8697
8699
8702
8703
8704
8705
8706
8707
8708
8714
8715
8716
8717
8719
8721
8723
8728
8729
8734
8735
8736
8737
8741
8742
8743
8744
8745
8746
8747
8748
8749
8750
8756
8757
8758
8759
8762
8763
8764
8766
8769
8770
8771
8774
8775
8776
8777
8780
8788
8789
8790
8791
8792
8793
8794
8801
8802
8803
8804
8806
8812
8816
8817
8818
8819
8820
8821
8822
8824
8825
8828
8829
8834
8837
8842
8843
8845
8847
8853
8856
8857
8858
8863
8867
8876
8877
8878
8881
8883
8884
8887
8888
8889
8890
8891
8892
8895
8896
8897
8898
8901
8902
8904
8909
8922
8925
8926
8935
8936
8940
8942
8944
8945
8952
8953
8954
8960
8962
8964
8971
8975
8976
8990
8991
8992
8993
8995
8996
8997
9003
9004
9006
9007
9008
9009
9012
9014
9015
9016
9017
9019
25735
25736
25737
25739
25741
25742
25743
25744
25745
25747
25748
25749
25751
25759
25760
25762
25765
25767
25768
25770
25775
25778
25782
25783
25785
25786
25787
25789
25792
25794
25796
25797
25798
25800
25801
25802
25803
25804
25806
25807
25808
25809
25810
25811
25812
25814
25816
25818
25819
25820
25822
25824
25829
25830
25831
25832
25837
25840
25842
25843
25846
25851
25852
25854
25858
25859
25860
25861
25864
25869
25871
25872
25874
25875
25878
25879
25881
25882
25884
25885
25887
25888
25890
25892
25894
25897
25899
25900
25902
25903
25906
25907
25908
25910
25912
25913
25914
25915
25918
25919
25920
25921
25922
25924
25926
25928
25931
25932
25934
25935
25936
25941
25942
25944
25948
25950
25951
25956
25957
25959
25960
25964
25965
25966
25970
25972
25974
25975
25976

25977
25979
25980
25984
25986
25987
25989
25990
25991
25994
25998
26000
26001
26006
26008
26009
26010
26013
26016
26018
26019
26021
26022
26025
26026
26027
26028
26030
26033
26034
26035
26042
26043
26044
26046
26047
26048
26049
26050
26051
26056
26058
26059
26062
26063
26066
26067
26068
26070
26072
26073
26074
26076
26079
26080
26083
26086
26088
26090
26093
26095
26096
26098
26099
26100
26104
26106
26107
26108
26109
26110
26112
26113
26123
26125
26127
26128
26130
26136
26137
26140
26141
26142
26144
26146
26147
26153
26156
26157
26159
26160
26162
26164
26167
26169
26174
26175
26176
26177
26180
26183
26184
26185

KeyboardInterrupt: